@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap");

body {
  margin: auto;
  text-align: center;
  background-color: black;
  background-size: 100vh;
}

#canvas {
  border: 1px solid white;
  display: none;
}

#start-screen {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

#loss-screen {
  width: 500px;
  height: 700px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#win-screen {
  width: 500px;
  height: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-div {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 100px;
}

.lp-img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
}

.buttonShadow--green:hover {
  background-color: #004225;
  box-shadow: 0 0 35px #004225;
}

.buttonShadow--red:hover {
  background-color: #F5F5DC;
  box-shadow: 0 0 35px #F5F5DC;
}

.buttonShadow--orange:hover {
  background-color: #FFB000;
  box-shadow: 0 0 35px #FFB000;
}

.win-or-lose {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.25em;
}

.win-or-lose.red {
  color: red;
}

.win-or-lose.green {
  color: green;
}

.buttonWithShadow {
  position: relative;
  background-color: white;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}
.buttonWithShadow:hover {
  letter-spacing: 0.25em;
}

.buttonWithShadow::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: black;
}

.buttonWithShadow span {
  position: relative;
  z-index: 1;
}

.buttonWithShadow i {
  position: absolute;
  inset: 0;
  display: block;
}

.buttonWithShadow i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: black;
  transform: translateY(-50%) skew(325deg);
  transition: 0.5s;
}

.buttonWithShadow:hover i::before {
  width: 20px;
  left: 20%;
}
