@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap");

body {
  margin: auto;
  text-align: center;
  background-color: black;
  background-size: 100vh;
}

#canvas {
 /*  margin-top: 50px; */
  box-shadow: LightGoldenrodYellow 0px 19px 38px, white 0px 15px 12px;
  display: none;
}

.main-div {
  border: 3px solid LightGoldenrodYellow;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.rules {
  /* background-color: black; */
  text-align: center;
  max-width: 400px;
}

.english {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
}

.japonese {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-top: 100px;
}

#start-screen {
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#win-screen {
  width: 500px;
  height: 700px;
  display: none;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  flex-direction: column;
}

h6 {
  color: #d4f3d6;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

#win-button {
  border: none;
  font-family: "Montserrat", sans-serif;
  background: none;
  color: #d4f3d6;
}

#loss-screen {
  width: 500px;
  height: 700px;
  display: none;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  flex-direction: column;
}

.invite-img {
  max-height: 200px;
  border-radius: 2%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
}

.buttonShadow--green:hover {
  background-color: green;
  box-shadow: 0 0 35px green;
}

.buttonWithShadow {
  position: relative;
  background-color: white;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}
.buttonWithShadow:hover {
  letter-spacing: 0.25em;
}

.buttonWithShadow::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: black;
}

.buttonWithShadow span {
  position: relative;
  z-index: 1;
}

.buttonWithShadow i {
  position: absolute;
  inset: 0;
  display: block;
}

.buttonWithShadow i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: black;
  transform: translateY(-50%) skew(325deg);
  transition: 0.5s;
}

.buttonWithShadow:hover i::before {
  width: 20px;
  left: 20%;
}



.start-buttons {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#loss-button {
  background-color: #b22222;
  border: none;
  color: white;
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 200px;
}
